:root {
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.list-user {
    flex-shrink: 0;
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
    background-color: #cccccc24;
    padding: 10px;
    border-bottom: 1px solid #6662;
}

.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.user-item:hover {
    opacity: 0.8;
}
.message-wrapper {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
}
.message-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.message-item.active {
    justify-content: end;
    .message-content {
        background-color: #ffcf8a;
    }
}
.default-avatar {
    font-size: 4rem;
    padding: 8px;
    background-color: #ccc;
    border-radius: 50%;
    flex-shrink: 0;
}
.message-content {
    padding: 8px 10px;
    background-color: #ececec;
    border-radius: 10px;
}
.message-time {
    font-size: 8px;
    display: block;
    color: #666;
}
.message-input {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    padding: 10px;
}
.send-btn {
    font-size: 2.4rem;
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.wrapper ::-webkit-scrollbar {
    border-radius: 0;
    height: 4px;
}
