:root {
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.list-user {
    flex-shrink: 0;
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    background-color: #cccccc24;
    padding: 10px;
    border-bottom: 1px solid #6662;
}

.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.user-item:hover {
    opacity: 0.8;
}
.message-wrapper {
    padding: 10px 10px 20px;
    overflow-y: scroll;
    height: 100%;
}
.message-item {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
}
.message-item.active {
    justify-content: end;
    .message-content {
        background-color: #ffcf8a;
    }
}
.default-avatar {
    font-size: 4rem;
    padding: 8px;
    background-color: #ccc;
    border-radius: 50%;
    flex-shrink: 0;
}
.message-content {
    padding: 8px 10px;
    background-color: #ececec;
    border-radius: 10px;
}
.message-time {
    font-size: 8px;
    display: block;
    color: #666;
}
.message-item.active .message-time {
    text-align: end;
}
.message-input {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    padding: 10px;
}
.send-btn {
    font-size: 2.4rem;
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}

.wrapper ::-webkit-scrollbar {
    border-radius: 0;
    height: 4px;
}
// Loading dots
.dots {
    display: flex;
    width: fit-content;
    padding: 10px 8px 20px;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    bottom: 64px;
    .dot {
        display: inline-block;
        background-color: var(--primary-color);
        border-radius: 50%;
        margin-right: 5px;
        &-small {
            width: 8px;
            height: 8px;
            animation: typing 1s linear infinite;
        }
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.5s;
        }
    }
}

@keyframes typing {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 6px);
    }
    100% {
        transform: translate(0, 0);
    }
}
