.wrapper {
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    z-index: 1000;
}
.inner {
    margin: auto;
    width: var(--default-layout-width);
    padding: 40px var(--default-layout-horizontal-spacer);
    max-width: 100%;
}
.info-wrapper {
}
.introduce {
    font-size: 1.4rem;
    margin: 20px 0;
    text-align: justify;
}
.follow-wrapper {
    h4 {
        font-weight: 700;
    }
}
.list-icons {
    display: flex;
    align-items: center;
    margin-top: 8px;
    .social-icon {
        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
    .social-icon + .social-icon {
        margin-left: 10px;
    }
}
.info-wrapper + .info-wrapper {
    margin-top: 15px;
}
.info-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.info-subtitle {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 1.8rem;
}

.info-icon {
    font-size: 2.2rem;
    margin: 5px 8px 5px 0;
    color: var(--primary-color);
    flex-shrink: 0;
}
.license-wrapper {
    border-top: 1px solid var(--primary-color);
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}
