.wrapper {
}
.banner-section {
    position: relative;
    background: url('https://res.cloudinary.com/dpgjnngzt/image/upload/v1693155740/momo-upload-api-210817095950-637647911908409737_wewd8m.jpg')
        center / cover no-repeat;
    width: 100%;
    padding: 50px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.592);
}
.banner-content {
    position: relative;
    margin: auto;
    color: #fff;
    text-align: center;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 8px;
}
.breadcrumb-wrapper ol {
    justify-content: center;
}
.breadcrumb-wrapper li {
    color: #fff !important;
    white-space: nowrap;
    .breadcrumb-text {
        color: #fff;
        &:hover {
            color: #ddd;
        }
    }
}

.tour-section {
    width: var(--default-layout-width);
    padding: 60px var(--default-layout-horizontal-spacer);
    max-width: 100%;
    margin: auto;
}

.add-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
.add-icon {
    padding: 8px;
    font-size: 4rem;
    color: var(--primary-color);
}

.undo-filter {
    color: rgb(26, 100, 204);
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
