.wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.header {
    position: relative;
}
.img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.featured {
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 5px;
    color: #fff;
    background-color: #ff7e01;
}
.body {
    padding: 10px 12px;
    position: relative;
}
.city-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.city {
    font-weight: 600;
    display: flex;
    align-items: center;
}
.rate-wrapper {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 1.3rem;
}
.rate-icon {
    margin-right: 4px;
    color: var(--primary-color);
}
.title {
    font-weight: 500;
    margin: 10px 0 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.location-icon {
    margin-right: 4px;
    color: var(--primary-color);
}
.info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    min-height: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #666;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
        color: #888;
        font-size: 1.6rem;
        font-weight: 700;
        margin-right: 10px;
        span {
            color: var(--primary-color);
        }
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        font-weight: 600;
        font-size: 1.6rem;
        border-radius: 14px 0 14px 0;
    }
}
.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    padding: 6px;
    background-color: #666;
    color: #fff;
    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}
